@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito';
  margin: 0;
  background-color: white;
  color: #424242;
}

h1,
h2,
h3 {
  font-family: 'Quicksand';
  color: #131313;
}

button,
.btn {
  cursor: pointer;
  font: inherit;
  padding: 0.5rem 1.5rem;
  background-color: #ffffff;
  border: 1px solid #000000;
  color: white;
  border-radius: 4px;
  text-decoration: none;
}

button:hover,
.btn:hover {
  background-color: #ffffff;
}

#main-header {
    width: 100%;
    text-align: center;
    padding: 2rem 1em;
    background-color: #000000;
    z-index: 100;
    box-shadow: 0 14px 28px rgba(114, 113, 113, 0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1); 
}


#main-header h1 {
    font-size: 1.4rem;
    color: white;
    margin-bottom: -5px;
}

#main-logo {
    font-size: 3rem;
    font-family: 'Dancing Script';
    text-decoration: none;
    color: #ffffff;
    font-weight: bolder;
}